{% extends "base.html" %}
{% block title %}Аккаунт не активен{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card text-center border-dark shadow-sm">
        <h5 class="card-header border-dark text-white bg-custom-blue">АККАУНТ НЕ АКТИВЕН</h5>
        <div class="card-body bg-custom-grey">
          <p>Данная учетная запись не активна</p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}