{% extends 'base.html' %}
{% block title %}Вы вышли из системы{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card text-center border-dark">
        <h5 class="card-header border-dark text-white" style="background-color: #0C3354;">ВЫХОД</h5>
        <div class="card-body" style="background-color: #edeeed;">
          <p>
            Вы вышли из своей учётной записи. Ждём вас снова!
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
