{% extends 'base.html' %}
{% block title %}
  Администрирование БД
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card text-center border-dark shadow-sm">
        <h5 class="card-header border-dark text-white bg-custom-blue">ОБНОВЛЕНИЕ БАЗЫ ДАННЫХ</h5>
        <div class="card-body bg-custom-grey">
            {% if form.errors %}
              {% load user_filters %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                {% for field in form %}
                    <div class="form-group row my-3">
                      <label for="{{ field.id_for_label }}" class="label-bold">
                        {{ field.label }}
                      </label>
                      {{ field|addclass:'form-control border-dark' }}
                      <small
                        id="{{ field.id_for_label }}-help"
                        class="form-text text-muted"
                      >
                        {{ field.help_text|safe }}
                      </small>
                    </div>
                {% endfor %}
              <div class="d-flex justify-content-around">
                  <button type="submit" class="btn btn-primary text_russo bg-custom-blue">ЗАГРУЗИТЬ</button>
              </div>
            </form>
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}
