{% extends "base.html" %}
{% block title %}Ошибка 500{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card text-center border-dark shadow-sm">
        <h5 class="card-header border-dark text-white bg-custom-blue">ОШИБКА 500</h5>
        <div class="card-body bg-custom-grey">
          <p>
            Ошибка на сервере, попробуйте обновить страницу или обратиться позже
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}