<style>
  .nav-link_1.active {
      background-color: #EDEEED !important;
      font-weight: bold;
      border: 0px;
  }
  .bg-custom-blue{
      background-color: #0C3354 !important;
  }
  .bg-custom-grey{
      background-color: #EDEEED !important;
  }
  .text_russo{
      font-family: 'Russo One', sans-serif;
      font-weight: normal;
  }
  body{
      display: table;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
  }
  h5{
     font-family: 'Russo One', sans-serif;
     font-weight: normal;
  }
  h6{
     font-family: 'Russo One', sans-serif;
     font-weight: normal;
  }
  #suggestion-list li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }
  #suggestion-list li:hover {
    background-color: #f0f8ff; /* Подсветка при наведении */
  }
  #suggestion-list li:last-child {
    border-bottom: none;
  }
  #autocomplete-list li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    list-style: none;
  }
  #autocomplete-list li:hover {
    background-color: #f0f8ff;
  }
  #autocomplete-list li:last-child {
    border-bottom: none;
  }
</style>
