<style>
  .nav-link_1.active {
      background-color: #EDEEED !important;
      font-weight: bold;
      border: 0px;
  }
  .bg-custom-blue{
      background-color: #0C3354 !important;
  }
  .bg-custom-grey{
      background-color: #EDEEED !important;
  }
  .text_russo{
      font-family: 'Russo One', sans-serif;
      font-weight: normal;
  }
  body{
      display: table;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
  }
  h5{
     font-family: 'Russo One', sans-serif;
     font-weight: normal;
  }
  h6{
     font-family: 'Russo One', sans-serif;
     font-weight: normal;
  }
</style>
